{% extends 'base.html.twig' %}

{% block title %}Bar Home{% endblock %}

{% block body %}


<div>
    <h1>Un bar personnalisé !!</h1>

    <p>Bar Home vous permet de créer votre bar afin de la partager auprés de vos convives pour vos prochaines soirées ou évenements.</p>
</div>

{% if app.user is null %}
    <div class="button-register">
        <a href="{{ url('app_register') }}">S'inscrire</a>
    </div>
{% endif %}

{% endblock %}
