{% extends 'base.html.twig' %}

{% block title %}Bar Home
{% endblock %}

{% block body %}



	<section class="intro">
		<div class="intro-group">
			<h1>Bienvenue dans Bar Home</h1>

			<p>Bar Home vous permettra de créer votre bar personnalisé afin de le partager auprès de vos convives pour vos prochaines soirées ou évènements.<br>
      Un moyen simple pour laisser vos invités choisir la boisson qu'il souhaite déguster et vous simplifier le service.</p>
		</div>
	</section>

  <section class="step">
    <div class="step-group">
      <h2>Créez votre bar en 3 étapes !!</h2>

      <div class="card-group">
        <div class="card-bar">
          <img src="{{ asset("assets/img/note.png") }}" alt="image d'inscription">
          <p>Je m'enregistre sur le site afin de créer et modifier mon bar sans limite.</p>
        </div>

        <div class="card-bar">
          <img src="{{ asset("assets/img/cocktail.png") }}" alt="image d'un cocktail">
          <p>Je crée mon bar en quelques clics avec les boissons et catégories de mon choix.</p>
        </div>

        <div class="card-bar">
          <img src="{{ asset("assets/img/share.png") }}" alt="image d'un partage">
          <p>Je le partage à mes invités en leur fournissant un code barre où ils pourront visualiser mon Bar.</p>
        </div>
      </div>
    </div>
  </section>

  {% if app.user is null %}
    <section class="register-home">
      <div class="register-group">
        <h2>Envie de tester ?</h2>

        <div class="button-register">
          <a href="{{ url('app_register') }}">Je m'inscris</a>
        </div>
      </div>
    </section>
	{% endif %}



{% endblock %}
