*, ::before, ::after {
  box-sizing: border-box; 
  padding: 0; 
  margin: 0;
}

html::-webkit-scrollbar {
  width: 20px;
}

html::-webkit-scrollbar-track {
  background: linear-gradient(#2C1C34, #101B25);
}

html::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: #FFC670;
}

body {
  font-family: 'Arimo', 'Jost', 'sans-serif';
  background: linear-gradient(#2C1C34, #101B25);
}


.wrapper {
  margin: auto;
  color: #FFFFFF;
  max-width: 1596px;
  min-height: 88vh;
  padding-block: 5rem;
}

/* Header */

header {
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  min-height: 82px;
  max-width: 1596px;
  margin: auto;
}

.nav-mob {  
  display: none;
}

.burger {
  display:block;
  position:relative;
  padding:0;
  width:45px;
  height:45px;
  border:none;
  background:transparent;
  cursor:pointer;
}

.bar {
  display:block;
  width:45px;
  height:4px;
  border-radius:3px;
  background: #FFC670;
  transition: all .5s ease-in-out;
}

.bar::before, .bar::after {
  content:"";
  width:45px;
  height:4px;
  position:absolute;
  left:0;
  background: #FFC670;;
  border-radius: 3px;
  transition: all .5s ease-in-out;
}

.bar::before {
  transform:translateY(-12px)
}

.bar::after {
  transform:translateY(12px)
}

.show-nav .bar {
  width:0;
  background:transparent;
}

.show-nav .bar::before {
  transform:rotate(45deg);
}

.show-nav .bar::after {
  transform:rotate(-45deg);
}

.contact-mob {
  display: none;
}

.user-co {
  color: #FFC670;
  font-size: 18px;
  line-height: 170%;
}

nav {
  display: block;
  height: 100%;
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82px;
}

.nav-item {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  list-style: none;
  margin: 0 1rem;
  border-radius: 1px;
  padding: 10px 30px;
}

.nav-item p {
  font-size: 30px;
}

.nav-item:nth-child(1) {
  flex: 1;
}

a.nav-link,
a#logo-name {
  text-decoration : none;
  color: #FFFFFF;
}

.nav-item a:hover,
.nav-item p:hover
{
  color: #FFC670;
  transition: all 1s ease-out;
}

.alert {
  color: #FFF;
  font-size: 18px;
  line-height: 170%;
  text-align: center;
  transform: translateY(375px);
}

.alert a {
  font-size: 18px;
  line-height: 170%;
  color: #FFC670;
  text-decoration: none;
}

.alert a:hover {
  font-weight: 700;
}

/* Home page */

.card-group {
  display: flex;
  gap: 3rem;
  padding-top: 5rem;
}


.card-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  font-size: 18px;
  line-height: 170%;
}

.card-bar img {
  padding-bottom: 2rem;
  width: 35%;
}

.card-bar p {
  text-align: center;
}

section {
  padding-bottom: 7rem;
}

section h2,
h1 {
  padding-bottom: 0.5rem;
  font-size: 35px;
  border-bottom: solid 3px #FFC670;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.intro {
  display: flex;  
}

.intro-group,
.step-group,
.register-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.intro p {
  max-width: 800px;
  font-size: 18px;
  padding-top: 5rem;
  line-height: 170%;
}

.button-register {
  padding-top: 7rem;
}

.button-register a
{
  width: 100%;
  padding: 1rem 2rem;
  color: #FFC670;
  border-radius: 20px;
  border: solid 0.2rem #FFC670;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-decoration: none;
}

.button-register a:hover,
.btn-register:hover,
.btn-log:hover,
.btn-contact:hover,
.button-bar-create:hover,
.button-drink-create:hover,
#contact:hover{
  background-color: #FFC670;
  color: #000;
  transition: all 1s ease-out;
}

#contact {
  width: 100%;
  padding: 1rem 2rem;
  color: #FFC670;
  border-radius: 20px;
  border: solid 0.2rem #FFC670;
}

/* Inscription et login */

.title-register,
.title-log,
.bar-title-edit {
  text-align: center;
  border-bottom: solid 0.2rem #FFC670;
  margin-bottom: 3rem;
}

.modify-drink h1 {
  margin-bottom: 3rem;
}

.register-form,
.log-form,
.modify-bar,
.modify-drink {
  margin: auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-register,
.btn-log,
.btn-contact,
.button-bar-create,
.button-drink-create
{
  width: 220px;
  padding: 1rem 2rem;
  color: #FFC670;
  border-radius: 20px;
  border: solid 0.2rem #FFC670;
  font-family: 'Jost';
  font-size: 24px;
  line-height: 20px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin-top: 3rem;
  background: transparent;
  cursor: pointer;
}

.button-bar-create {
  width: 320px;
}

.button-drink-create {
  width: 330px;
}

.btn-log
{
  width: 300px;
}

.register-part,
.log-part,
.bar-form,
.drink-form {
  font-size: 18px;
  line-height: 170%;
}

.bar-form,
.drink-form {
  padding-bottom: 2rem;
}

.log-part {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-item,
.log-item,
.contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.bar-item,
.drink-item {
  padding-top: 3rem;
}

.register-item label,
.log-part label,
.contact-item label {
  color: #FFC670;
  font-weight: 700;
  padding-bottom: 1rem;
}

.register-item label,
.bar-item label,
.drink-item label
{
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.register-item input,
.log-part input,
.contact-item input,
.bar-item input,
.drink-item input,
textarea#contact_message {
  width: 400px;
  height: 54px;
  border-radius: 20px;
  border: solid 0.2rem #FFC670;
  padding-left: 1rem;
  color: #FFC670;
  font-family: 'Jost';
  font-size: 18px;
  letter-spacing: 0.08em;
  background: transparent;
}

.register-form .register-part li,
.contact-part .contact-group li {
  list-style: none;
  width: 400px;
  color: #FFF;
  position: absolute;
  transform: translateY(55px);
}

.contact-part .contact-group li {
  padding-left: 1rem;
  transform: translateY(60px);
}

.contact-part .contact-group .mess li{
  transform: translateY(208px);
}

/* Contact */


.contact {
  margin: auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 88vh;
}

.contact-part {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.contact-group {
  display: flex;
  flex-direction: column;
}

.contact-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.contact-item {
  align-items: baseline;
}

.contact-item label {
  padding-left: 1rem;
  display: flex;
}

.title-contact
{
  text-align: center;
  border-bottom: solid 0.2rem #FFC670;
  margin-bottom: 3rem;
}

h1.bar-title {
  margin-bottom: 4rem;
}

.btn-contact
{
  width: 400px;
  margin: 0;
  margin-top: 0.5rem;
}

textarea#contact_message {
  height: 200px;
  padding-top: 2rem;
  max-width: 400px;
}

/* Bar */

.main-bar {
  margin: auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar-home{
  margin: auto;
  max-width: 1000px;
  padding-top: 4rem;
}

.name-bar-bloc {
  display: flex;
}

.dropdown li {
  list-style: none;
}

.dropdown {
  transform: translate(11rem, 2rem);
}

.delete-message {
  display: none;
}

.dropdown a {
  color: #FFF;
  text-decoration: none;
  font-size: 18px;
  line-height: 170%;
  border-radius: 20px;
}

.dropdown .dropdown-item-green:hover {
  color: green;
  font-weight: 700;
  transition: all 1s ease-out;
}

.dropdown .dropdown-item-red:hover {
  font-weight: 700;
  color: red;
  transition: all 1s ease-out;
}

.bloc-bar {
  color: #FFF;
  text-align: center;
  font-size: 36px;
  line-height: 170%;
  font-weight: 700;
}

.consult-bar {
  margin: auto;
  max-width: 600px;
  border: solid 0.2rem #FFC670;
  border-radius: 20px;
  padding-block: 4rem;
  padding-inline: 2rem;
  box-shadow: rgb(0 0 0 / 45%) 0px 25px 20px -20px;
}

.title-card-bar {
  text-align: center;
  padding-bottom: 4rem;
  font-size: 40px;
}

.category-group h2 {
  color: #FFC670;
  font-size: 36px;
  line-height: 170%;
  font-weight: 700;
  padding-top: 1rem;
}

.category-group .category-consult {
  padding-top: 1rem;
}

.bloc-drink p {
  color: #FFF;
  font-size: 20px;
  line-height: 170%;
  font-weight: 400;
}

.category-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
  margin: auto;
}

.group-bloc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-drink img {
  width: 25px;
}

.button-bar {
  padding-top: 3rem;
  padding-bottom: 2rem;
  text-align: center;
}

.button-bar-modify,
.button-bar-delete,
.button-show-bar,
.button-bar-return,
.button-drink-return,
.button-bar-add {
  width: 100%;
  padding: 1rem 1rem;
  border: solid 0.2rem #FFC670;
  border-radius: 20px;
  color: #FFC670;
  font-family: 'Jost';
  font-size: 20px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.button-bar-return,
.button-drink-return {
  width: 20%;
}

.button-bar-modify {
  margin-right: 1rem;
}

.drink-add {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 4rem;
  gap: 1rem;
}

.drink-add img {
  width: 30px;
}

.button-drink-add {
  width: 100%;
  padding: 1rem 1rem;
  border: solid 0.2rem #FFC670;
  border-radius: 20px;
  color: #FFC670;
  font-family: 'Jost';
  font-size: 20px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-decoration: none;
}

.cocktail img{
  width: 100px;
  position: absolute;
  transform: translate(390px, -15px);
}

.show-bar {
  padding-top: 8rem;
  text-align: center;
}

.button-bar-modify:hover,
.button-bar-delete:hover,
.button-show-bar:hover,
.button-drink-add:hover,
.button-bar-return:hover,
.button-drink-return:hover,
.button-bar-add:hover
{
  background-color: #FFC670;
  color: #000;
  transition: all 1s ease-out;
}

.drink-item li {
  list-style: none;
  width: 400px;
  color: #FFF;
  position: absolute;
  padding-left: 1rem;
  transform: translateY(55px);
}

/* Footer */

footer {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 5.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.foot-list {
  list-style: none;
  display: flex;
  font-size: 18px;
  line-height: 170%;
  text-decoration: none;
}

.foot-link p {
  color: #FFF;
}

li.foot-link {
  margin-right: 5rem;
}

.foot-link a {
  text-decoration: none;
  color: #FFC670;
}

.foot-link a:hover {
  color: #FFC670;
  font-weight: 700;
}

/* error page */

.error404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}

.error404 p {
  max-width: 800px;
  font-size: 24px;
  padding-top: 1rem;
  line-height: 170%;
}

.button-error404 img {
  width: 300px;
}

/* Responsive */

@media screen and (max-width: 1050px) {

  .nav-mob {  
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 82px;
    padding-inline: 2rem;
  }

  .main-nav {
    display: none;
  }
  
  .contact-mob {
    display: block;
  }

  .contact-mob a {
    width: 100%;
    padding: 1rem 2rem;
    color: #FFC670;
    border-radius: 20px;
    border: solid 0.2rem #FFC670;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0.1em;
  }

  .contact-mob a:hover {
    background-color: #FFC670;
    color: #000;
    transition: all 1s ease-out;
  }

  .main-nav.show-nav {
    transition: all .8s ease;
    transform: translateX(0);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }

  .main-nav {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
    padding-block: 2rem;
    background: #FFC670;
    transition: all .8s ease;
    transform: translateX(-101%);
    width: 100%;
  }

  #contact {
    width: 100%;
    color: #FFF;
    border-radius: 20px;
  }

  .nav-item li {
    color: #000;
  }

  .nav-item a:hover,
  .nav-item p:hover
  {
    color: #000;
    transition: all 1s ease-out;
  }

  .user-co {
    color: #FFF;
    font-size: 18px;
    line-height: 170%;
  }

  .nav-item:nth-child(1) {
    flex: 0;
  }
}
