{% extends 'base.html.twig' %}

{% block title %}Mon Bar
{% endblock %}

{% block body %}

	<div class="main-bar">
		<h1 class="bar-title">{{ bar.name }}</h1>
	</div>


{% for category,drinks in categories  %}
  <h2>{{ category }}</h2>

  {% for drink in drinks %}
    <p>{{ drink.name }}</p>
  {% endfor %}

{% endfor %}




{% endblock %}
