{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}

  <div class="error404">

    <p>On dirait que vous êtes perdus ?</p>
    <p>Cliquez sur l'image pour retrouver le chemin du Bar !!</p>

    <a class="button-error404" aria-current="page" title="image de bar" href="{{ path('main') }}">
      <img src="{{ asset("assets/img/bar.png") }}" alt="image d'un bar">
    </a>

  </div>

{% endblock %}
